<!-- temporary hack -->
<div drop-zone="fileManager" style="width: 100%; height:100%">
  <file ng-repeat="file in fileManager.fileTree |orderBy:['metadata.type', 'metadata.name']" file="file"></file>
</div>

<div class="modal" ng-if="shareModal" ng-click="closeModalShare()">
  <div class="modal-container">
    <div class="modal-header">
      <div class="close"></div>
      <h3 class="modal-header-title" translate>Share</h3>
    </div>
    <div class="modal-content">
      <tags-input ng-model="share" placeholder="{{ 'Pseudo' |translate }}" display-property="key" add-from-autocomplete-only="true">
        <auto-complete source="loadUsers($query)" debounce-delay="40"></auto-complete>
      </tags-input>
    </div>
    <div class="modal-footer">
      <button class="button-cancel" ng-click="closeModalShare()" translate>Cancel</button>
      <button class="button-ok"     ng-click="shareFiles()"      translate>Share</button>
    </div>
  </div>
</div>


<!-- FileMenu -->
<ul id="fileMenu" class="context-menu">
  <li class="context-menu-item" ng-class="{'is-disable': !Selection.isSingle()}" ng-click="openFile()">
    <i class="icon icon-download"    ng-if="!Selection.hasAtLeastOneFolder()"></i>
    <i class="icon icon-folder-open" ng-if=" Selection.hasAtLeastOneFolder()"></i>
    <span translate>Open</span>
  </li>
  <li class="context-menu-item" ng-class="{'is-disable': !Selection.isSingle()}" ng-click="renameFile()">
    <i class="icon icon-rename"></i>
    <span translate>Rename</span>
  </li>
  <li class="context-menu-item" ng-click="modalShare()">
    <i class="icon icon-share"></i>
    <span translate>Share</span>
  </li>
  <li class="context-menu-item" ng-click="Clipboard.cut()">
    <i class="icon icon-cut"></i>
    <span translate>Cut</span>
  </li>
  <li class="context-menu-item" ng-click="Clipboard.copy()">
    <i class="icon icon-copy"></i>
    <span translate>Copy</span>
  </li>
  <li class="context-menu-item" ng-class="{'is-disable': Clipboard.isEmpty()}" ng-click="Clipboard.paste()">
    <i class="icon icon-paste"></i>
    <span translate>Paste</span>
  </li>
  <li class="context-menu-item" ng-click="deleteFiles()">
    <i class="icon icon-remove"></i>
    <span translate>Delete</span>
  </li>
</ul>


<!-- BackgroundMenu -->
<ul id="backgroundMenu" class="context-menu" role="context-menu">
  <li class="context-menu-item" ng-click="fileManager.newFile()">
    <i class="icon icon-file"></i>
    <span translate>New File</span>
  </li>
  <li class="context-menu-item" ng-click="fileManager.newFolder()">
    <i class="icon icon-folder-close"></i>
    <span translate>New Folder</span>
  </li>
  <li class="context-menu-item" ng-click="Clipboard.paste()" ng-class="{'is-disable': Clipboard.isEmpty()}">
    <i class="icon icon-paste"></i>
    <span translate>Paste</span>
  </li>
</ul>
