<!-- Nav Bar -->
<nav class="navbar">
  <button class="btn-link navbar-button" ng-click="goBack()"    ng-disabled="false"    ><i class="icon icon-back"></i></button>
  <button class="btn-link navbar-button" ng-click="goForward()" ng-disabled="false"    ><i class="icon icon-forward"></i></button>
  <button class="btn-link navbar-button" ng-click="goParent()"  ng-disabled="isRoot()"><i class="icon icon-parent"></i></button>

  <breadcrumb></breadcrumb>
</nav>

<!-- Container -->
<div class="container">

  <!-- Three -->
  <filetree tree="fileTree"></filetree>

  <!-- Content -->
  <div class="content">
    <file ng-repeat="file in files" file="file"></file>
  </div>
</div>

<!-- Status Bar -->
<div class="statusbar">
  <div class="statusbar-elements">5 elements</div>
  <div class="statusbar-separator"></div>
  <div class="statusbar-information">File 17ko</div>
  <div class="statusbar-display">
    <i class="icon icon-list"></i>
    <i class="icon icon-thumb"></i>
  </div>
</div>
