<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=0.5, user-scalable=no" />
    <title>Prototype of Lupo</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="vendor/ng-tags-input/ng-tags-input.css">
  </head>

  <body ng-app="lupo-proto" ng-controller="ContainerCtrl">
    <!-- Header -->
    <div class="header">
      <img class="header-image" src="images/logo.png"/>
      <div class="header-box">
        <span ng-if="session.user.username">{{session.user.username}} ({{session.getUserId() |limitTo:3 }})</span>
      </div>
    </div>

    <!-- App Menu -->
    <img src="images/appmenu.png" class="appmenu" />

    <notification-overlay></notification-overlay>

    <span us-spinner spinner-key="main"></span>
    <div class="view" ui-view></div>

    <info></info>

    <!--[if lte IE9]>
    <div id="browser-support" class="modal">
      <div class="modal-container">
        <div class="modal-header">
          <h2>Browser version too old</h2>
        </div>
        <div class="modal-content">
        <p>Your browser is too old to render correctly this website. You should update it or if you can't (example: you are using Internet Explorer on Windows XP) we recommand you to download Firefox :).</p>
        <p></p>
        <a href="http://www.mozilla.org/firefox/">Download Firefox</a>
        </div>
        <div class="modal-footer">
          <button class="button button-ok">Ok</button>
        </div>
      </div>
    </div>
    <script>
      lang  = window.navigator.language.match(/[a-z]{2,3}/)[0].toLowerCase();
      langs = {
      }
      // Browser Support
      modal  = window.document.getElementById('browser-support');
      if(modal != null) {
        button = modal.getElementsByClassName('button-ok')[0];
        button.addEventListener('click', function() {
          modal.className = modal.className +" hide";
        }, false);
      }

      if(langs.hasOwnProperty(lang)){
        content = modal.getElementsByClassName('modal-content')[0];
        save = content.innerHTML;
        content.innerHTML = langs[lang]+save;
      }
    </script>
    <![endif]-->

    <script>
      // Support Worker
      if(!window.Worker) {
        body    = window.document.getElementsByTagName('body')[0];
        scripts = [
          "vendor/jsencrypt/bin/jsencrypt.js",
        ];

        for(i in scripts) {
          script     = window.document.createElement('script');
          script.src = scripts[i];
          body.appendChild(script);
        }
      }
    </script>

    <script src="js/main.js"></script>
  </body>
</html>
