<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Prototype of Lupo</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="vendor/ng-tags-input/ng-tags-input.css">
  </head>
  <body ng-app="lupo-proto" ng-controller="ContainerCtrl">
    <!-- Header -->
    <div class="header">
      <img src="images/header.jpg"/>
      <h3>Version 0.0.1</h3>
      <h5 ng-show="session.user.username">Welcome {{ session.user.username }}</h5>
    </div>

    <!-- App Menu -->
    <img src="images/appmenu.png" class="appmenu" />

    <notification-overlay></notification-overlay>

    <span us-spinner spinner-key="main"></span>
    <div class="view" ui-view></div>

    <info></info>

    <script>
      if(!window.Worker) {
        body    = window.document.getElementsByTagName('body')[0];
        scripts = [
          "vendor/jsencrypt/bin/jsencrypt.js",
          "js/crypto.js",
        ];

        for(i in scripts) {
          script     = window.document.createElement('script');
          script.src = scripts[i];
          body.appendChild(script);
        }
      }
    </script>

    <script src="vendor/sjcl/sjcl.js"                                   ></script>
    <script src="vendor/assert/assert.js"                               ></script>
    <script src="vendor/spin.js/spin.js"                                ></script>

    <!-- Angular -->
    <script src="vendor/angular/angular.js"                             ></script>
    <script src="vendor/angular-resource/angular-resource.js"           ></script>
    <script src="vendor/angular-animate/angular-animate.js"             ></script>
    <script src="vendor/angular-sanitize/angular-sanitize.js"           ></script>

    <!-- Angular Modules -->
    <script src="vendor/ng-tags-input/ng-tags-input.js"                 ></script>
    <script src="vendor/angular-gettext/dist/angular-gettext.min.js"    ></script>
    <script src="vendor/angular-resource/angular-resource.js"           ></script>
    <script src="vendor/angular-ui-router/release/angular-ui-router.js" ></script>
    <script src="vendor/angular-pouchdb/angular-pouchdb.js"             ></script>
    <script src="vendor/angular-spinner/angular-spinner.js"             ></script>
    <script src="vendor/ng-context-menu/dist/ng-context-menu.min.js"    ></script>

    <script src="js/main.js"                                            ></script>
  </body>
</html>
