<!Doctype html>
<html lang="en">
  <head>
    <title>Prototype of Lupo</title>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    <!-- Nav Bar -->
    <nav class="navbar">
      <div class="navbar-button"><i class="icon icon-back"></i></div>
      <div class="navbar-button"><i class="icon icon-forward"></i></div>
      <div class="navbar-button"><i class="icon icon-parent"></i></div>
      <div class="breadcrumb">
        <div class="breadcrumb-part">Document</div>
        <div class="breadcrumb-part"><i class="icon icon-arrow-right"></i></div>
        <div class="breadcrumb-part">Test</div>
        <div class="breadcrumb-refresh"><i class="icon icon-refresh"></i></div>
      </div>
    </nav>

    <!-- Container -->
    <div class="container">

      <!-- Three -->
      <div class="tree">
        <div class="tree-element tree-element-directory-close">
          <div class="tree-element-title">Music</div>
        </div>
        <div class="tree-element tree-element-directory-open">
          <div class="tree-element-title">Document</div>
          <div class="tree-element-content">
            <div class="tree-element tree-element-directory-open is-active">
              <div class="tree-element-title">Test</div>
              <div class="tree-element-content">
                <div class="tree-element">
                  <div class="tree-element-title">test</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Content -->
      <div class="content">
        <div class="file file-list">
          <div class="file-icon">test</div>
          <div class="file-title">Coucou</div>
        </div>
        <div class="file file-list">
          <div class="file-icon">test</div>
          <div class="file-title">Coucou</div>
        </div>
        <div class="file file-list">
          <div class="file-icon">test</div>
          <div class="file-title">Coucou</div>
        </div>
        <div class="file file-list">
          <div class="file-icon">test</div>
          <div class="file-title">Coucou</div>
        </div>
        <div class="file file-list">
          <div class="file-icon">test</div>
          <div class="file-title">Coucou</div>
        </div>
      </div>
    </div>

    <!-- Status Bar -->
    <div class="statusbar">
      <div class="statusbar-elements">5 elements</div>
      <div class="statusbar-separator"></div>
      <div class="statusbar-information">File 17ko</div>
      <div class="statusbar-display">
        <i class="icon icon-list"></i>
        <i class="icon icon-thumb"></i>
      </div>
    </div>
  </body>
</html>
