<div class="tree-element" ng-if="element.isFolder()" ng-init="element.childs=[];element.loading=false;">
  <button class="btn-link icon icon-grey pull-left" ng-class="{
    'icon-folder-close': !element.open,
    'icon-folder-open':   element.open,
  }" ng-click="openFolder(element)" ng-if="!element.loading"></button>
  <div class="tree-loader" ng-if="element.loading"><div us-spinner="littleSpinner"></div></div>
  <a class="tree-element-title" ui-sref=".({path: element._id})">{{ element.metadata.name |ellipsis:18 }}</a>
  <div  class="tree-element-content" ng-if="element.open">
    <div ng-repeat="element in element.childs |orderBy:'metadata.name'" ng-include="'partials/treeElement.html'"></div>
  </div>
</div>
