// Color
$color2: #5bd1f5
$color:  darken($color2, 20%)
$color3: darken($color, 10%)
$color-desktop: #7ccef3

// Header
$header-mobile-height: 60px
$header-height: 200px

// Appmenu
$appmenu-mobile-width: 300px
$appmenu-width: 140px

// Navbar
$navbar-mobile-height: 80px
$navbar-height: 35px
$navbar-padding: 5px

// StatusBar
$statusbar-mobile-height: 60px
$statusbar-height: 25px

// Tree
$tree-mobile-width: 300px
$tree-width: 240px
$tree-padding: 15px
$tree-indent: 12px
