// Color
$color2: #5bd1f5
$color:  darken($color2, 20%)
$color3: darken($color, 10%)
$color-desktop: #7ccef3


// Header
$header-mobile-height: 30px
$header-height: 200px

// Appmenu
$appmenu-width: 120px

// Navbar
$navbar-mobile-height: 40px
$navbar-height: 35px
$navbar-padding: 5px

// StatusBar
$statusbar-mobile-height: 20px
$statusbar-height: 25px

// Tree
$tree-mobile-width: 200px
$tree-width: 240px
$tree-padding: 15px
$tree-indent: 12px
