@import 'variable/alert'

.alert
  height: $alert-height
  line-height: $alert-line-height
  padding: ($alert-height - $alert-line-height) / 2
  +border-radius($alert-border-radius)
  +box-shadow(0 0 5px 3px rgba(0,0,0,0.2))

.alert-success
  background-color: $alert-success-color
  color: darken($alert-success-color, $alert-text-darken)

.alert-danger
  background-color: $alert-danger-color
  color: darken($alert-danger-color, $alert-text-darken)

.alert-info
  background-color: $alert-info-color
  color: darken($alert-info-color, $alert-text-darken)

.alert-warning
  background-color: $alert-warning-color
  color: darken($alert-warning-color, $alert-text-darken)

