.context-menu
  display: block
  position: fixed
  bottom: $statusbar-mobile-height
  padding: 2px
  margin: 0
  overflow-x: scroll

  +box-shadow(0 0 6px 0px $color3)

  text-align: center

.context-menu-item
  display: block
  padding: 10px

  border-left: 1px solid $color2

.context-menu-item-text
  width: 6em
  font-size: 0.6em
  font-weight: bold

.desktop
  .context-menu
    display: block
    position: fixed
    top:  0
    left: 0
    bottom: auto
    right: auto
    min-width: 160px
    padding: 0px 7px

    border: 1px solid rgba(0, 0, 0, 0)
    +border-radius(5px)
    +box-shadow(0px 0px 15px -3px black)

    background-clip: padding-box
    background-color: #F5F5F5

    white-space: nowrap
    text-align: left

    cursor: default
    z-index: 9999

  .context-menu-item
    display: block
    border: none
    width: 100%

    padding: 3px 20px

  .context-menu-item-icon
    display: inline-block
