@import "variable/file"

.file
  height: $file-mobile-height
  overflow: hidden
  padding: 5px
  border-bottom: 1px solid #F7F7F7

.file-icon
  height: $file-mobile-thumb-size
  width: $file-mobile-thumb-size
  text-align: center
  display: table-cell
  vertical-align: middle

.file-text
  vertical-align: middle
  display: table-cell
  padding: 5px

.desktop .file-thumb
  display: inline-block
  width:   102px
  height:  142px
  border:  1px solid transparent
  text-align: center

.desktop .file-thumb .file-icon
  display:  block
  position: relative
  width:    90px
  height:   90px
