@import "variable/file"

.file-list
  width:  100%
  height: 30px
  margin-bottom: $file-list-spacing

.file-list>.file-icon
  float: left
  margin-right: $file-list-icon-spacing

.file-list:nth-child(odd)
  background-color: lightgrey

.file-thumb
  float: left
  width: $file-thumb-size
  height: $file-thumb-size+$file-thumb-title-height
  margin-left: 5px

.file-thumb>.file-icon
  width: $file-thumb-size - ($file-thumb-spacing*2)
  height: $file-thumb-size - ($file-thumb-spacing*2)
  margin: 5px auto
  background-color: lightgrey

.file-thumb>.file-title
  height: $file-thumb-title-height

  text-align: center
