@import "variable/file"

.file
  cursor: pointer

.file-list
  width:  100%
  height: 30px
  margin-bottom: $file-list-spacing

.file-list .file-icon
  float: left
  margin-right: $file-list-icon-spacing

.file-list:nth-child(odd)
  background-color: lightgrey

.file-thumb
  float: left
  width: $file-thumb-size
  height: $file-thumb-size+$file-thumb-title-height
  margin-left: 5px

.file-thumb .file-icon
  width: $file-thumb-size - ($file-thumb-spacing*2)
  height: $file-thumb-size - ($file-thumb-spacing*2)
  margin: 5px auto

  background-color: lightgrey

.file-thumb .file-title
  height: $file-thumb-title-height

  text-align: center

.dropdown
  margin-left: -$appmenu-width
  margin-top: -$header-height
  position: absolute

.dropdown-menu
  list-style: none outside none
  position: absolute
  top: 0px
  left: 0px
  z-index: 9999
  display: none
  min-width: 160px
  padding: 5px 0px
  margin: 2px 0px 0px
  border: 1px solid rgba(0, 0, 0, 0)
  border-radiux: 4px
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176)
  background-clip: padding-box
  background-color: #F5F5F5

.open > .dropdown-menu
  display: block

.dropdown-menu > li > a
  display: block
  padding: 3px 20px
  clear: both
  color: #333
  white-space: nowrap
  text-decoration: none
  cursor: default

.dropdown-menu > li > a:hover
  background-color: white

