.info
  position: absolute
  width: 450px
  height: 250px
  bottom: 70px
  right: 70px
  padding: 25px

  background-color: aliceblue
  +box-shadow(0 0 50px 0 rgba(0, 0, 0, 0.7))

  +border-radius(14px)

  text-align: justify
  color: #303030

  z-index: 999999
  cursor: move
