.icon
  width:  18px
  height: 18px
  margin: none

  font-family: 'icon'
  font-style: normal
  font-size: 18px

.icon-grey
  color: grey

.icon-parent:before
  content: ''

.icon-back:before
  content: ''
  display: inline-block
  +rotate(-90deg)

.icon-forward:before
  content: ''
  display: inline-block
  +rotate(90deg)

.icon-thumb:before
  content: ''

.icon-list:before
  content: ''

.icon-cut:before
  content: ''

.icon-copy:before
  content: ''

.icon-paste:before
  content: ''

.icon-file:before
  content: ''

.icon-folder-close:before
  content: ''

.icon-folder-open:before
  content: ''

.icon-remove:before
  content: ''

.icon-arrow-right:before
  content: ''

.icon-arrow-down:before
  content: ''
  display: inline-block
  +rotate(90deg)

.icon-share:before
  content: ''

.icon-rename:before
  content: ''

.icon-move:before
  content: ''
  display: inline-block
  +rotate(45deg)

.icon-download:before
  content: ''
