.icon
  width:  18px
  height: 18px
  margin: none

  font-family: 'icon'
  font-style: normal
  font-size: 18px

.icon-back:before
  content: ''

.icon-home:before
  content: ''

.icon-thumb:before
  content: ''

.icon-paste:before
  content: ''

.icon-copy:before
  content: ''

.icon-folder-close:before
  content: ''

.icon-folder-open:before
  content: ''

.icon-user:before
  content: ''

.icon-refresh:before
  content: ''

.icon-options:before
  content: ''

.icon-remove:before
  content: ''

.icon-list:before
  content: ''

.icon-link:before
  content: ''

.icon-info:before
  content: ''

.icon-arrow-right:before
  content: ''

.icon-arrow-down:before
  content: ''
  display: inline-block
  +rotate(90deg)

.icon-parent:before
  content: ''

.icon-forward:before
  content: ''

.icon-share:before
  content: ''
