.appmenu
  display: block
  position: fixed
  top: 0
  bottom: 0
  width: $appmenu-mobile-width
  right: -$appmenu-mobile-width
  margin: 0
  padding: 0
  height: 100%

  z-index: 999
  +transition-duration(0.2s)

.desktop
  .appmenu
    width: $appmenu-width
    top: $header-height
    left: 0
