.appmenu
  display: none

.desktop
  .appmenu
    display: block
    width: $appmenu-width
    height: 100%
    position: fixed
    top: $header-height
    z-index: 999
    left: 0
    bottom: 0
    margin: 0
    padding: 0

    list-style: none
