.header
  width: 100%
  position: absolute
  top:  0
  right: 0
  left: 0
  height: $header-height

.header > img
  height: $header-height
  width: 100%

.header>h1, .header > h3
  text-align: center

