.header
  width: 100%
  position: absolute
  top:  0
  right: 0
  left: $appmenu-width
  height: $header-height

  border-bottom: $tree-border-size outset $tree-border-color

.header>h1, .header > h3
  text-align: center

