.navbar
  background-color: $color
  height: $navbar-mobile-height
  vertical-align: middle
  padding: 5px

  border-bottom: 1px solid $color3
  +box-shadow(0 1px 5px 0px $color3)

.navbar-button
  float: left

.desktop
  .navbar
    height: $navbar-height
    padding: $navbar-padding
    background: none
    border-bottom: 1px solid lavender
    +box-shadow(4px -5px 8px 0px black)

  .navbar-button
    display: inline-block
    width:   $navbar-height - ($navbar-padding*2)
    height:  $navbar-height - ($navbar-padding*2)
    padding: $navbar-padding
    margin:  0 $navbar-padding

