.statusbar
  position: relative
  bottom: 0
  left:   0
  right:  0
  height:  $statusbar-height
  padding: 2px 5px
  padding-bottom: 5px

.statusbar-elements
  display: inline-block

.statusbar-information
  display: inline-block

.statusbar-separator
  display: inline-block
  height: 80%
  border-right: 1px solid lightgrey
  margin: auto 5px

.statusbar-display
  float: right
  display: inline-block
