.tree
  position: fixed
  width: $tree-mobile-width
  position: fixed
  background-color: darkgrey
  z-index: 9999
  left: -$tree-mobile-width
  top: 0
  bottom: 0

.desktop
  .tree
    width: $tree-width
    top: $header-height + $navbar-height
    left: $appmenu-width
    bottom: $statusbar-height
    background: none
    +box-shadow(3px 0 7px -7px black)
