<li ng-repeat="comment in comments" ng-switch on="comment.comments.length &gt; 0">
  <div class="comment-box clearfix">
    <div class="avatar"><img alt="avatar" src="http://placehold.it/70x70/fff/444" /></div>
    <div class="comment-content">
      <div class="comment-meta">
        <span class="comment-by">{{ comment.author }}</span>
        <span class="comment-date">{{ comment.author | date }}</span>
        <button class="btn btn-link" ng-click="reply(comment)">Reply</button>
      </div>
      <p>{{ comment.message }}</p>
    </div>
  </div>
  <div ng-switch on="parentObj._id == comment._id">
    <div ng-switch-when="true">
      <div ng-include="'partials/add_comment.html'"></div>
    </div>
  </div>
  <div ng-switch-when="true">
    <ul ng-init="comments = comment.comments;" ng-include="'partials/comment.html'"></ul>
  </div>
</li>