.file:hover
  background-color: rgba(113, 220, 243, 0.2) !important

  border: 1px solid rgba(113, 220, 243, 0.5)


.file.is-selected
  background-color: rgba(113, 220, 243, 0.4) !important

  border: 1px solid #71dcf3


.file.is-cut
  +opacity(0.4)


.file.is-loading
  color: grey

  +opacity(0.6)


.file-icon-landscape
  width: 100%


.file-icon-portrait
  height: 100%


.desktop .file-icon-landscape
  position: absolute
  bottom: 0
  left: 0
